= __Application_Name__ Protobuf Documentation
:toc:

{{range .Files}}

== {{.Name}}

{{range .Messages}}

[[{{.FullName}}]]
=== {{.LongName}}
{{nobr .Description}}

{{if .HasFields}}
|===========================================
|*Field* |*Type* |*Label* |*Description*
{{range .Fields}}
|{{.Name}} | <<{{.FullType}},{{.LongType}}>> |{{.Label}} |{{if (index .Options "deprecated"|default false)}}**Deprecated.** {{end}}{{nobr .Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}}
{{end}}
|===========================================
{{end}}
{{end}}

{{range .Enums}}

[[{{.FullName}}]]
=== {{.LongName}}
{{.Description}}

|=====================================
|*Name* |*Number* |*Description*
{{range .Values}}
|{{.Name}} |{{.Number}} |{{.Description}}
{{end}}
|=====================================
{{end}}
{{end}}

== Scalar Value Types

|==============================================================
|*.proto Type* |*Notes* |*C++ Type* |*Java Type* |*Python Type*
{{range .Scalars}}
|[[{{.ProtoType}}]] ((({{.ProtoType}}))) {{.ProtoType}} |{{.Notes}} |{{.CppType}} |{{.JavaType}} |{{.PythonType}}
{{end}}
|==============================================================
