# All the Types
<a name="top"/>

## Table of Contents
* [Scalar Value Types](#scalar-value-types)

<a name="scalar-value-types"/>
## Scalar Value Types

| .proto Type | Notes | C++ Type | C# Type | Go Type | Java Type | PHP Type | Python Type | Ruby Type |
| ----------- | ----- | -------- | ------- | --------| --------- | -------- | ----------- | --------- |
{{#scalar_value_types}}
| <a name="{{scalar_value_proto_type}}"/> {{scalar_value_proto_type}} | {{scalar_value_notes}} | {{scalar_value_cpp_type}} | {{scalar_value_cs_type}} | {{scalar_value_go_type}} | {{scalar_value_java_type}} | {{scalar_value_php_type}} | {{scalar_value_python_type}} | {{scalar_value_ruby_type}} |
{{/scalar_value_types}}
