<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE article PUBLIC "-//OASIS//DTD Simplified DocBook XML V1.0//EN"
"http://www.oasis-open.org/docbook/xml/simple/1.0/sdocbook.dtd">
<article>
  <title>Protocol Documentation</title>
  {{#files}}
  <section>
    <title>{{file_name}}</title>
    {{#file_messages}}
    <section {{#message_full_name}}id="{{message_full_name}}"{{/message_full_name}}>
      <title>{{message_long_name}}</title>
      {{#para}}{{message_description}}{{/para}}
      <table frame="all">
        <title><classname>{{message_long_name}}</classname> Fields</title>
        <tgroup cols="4">
          <colspec colwidth="*"/>
          <colspec colwidth="*"/>
          <colspec colwidth="0.5*"/>
          <colspec colwidth="3*"/>
          <thead>
            <row>
              <entry>Field</entry>
              <entry>Type</entry>
              <entry>Label</entry>
              <entry>Description</entry>
            </row>
          </thead>
          <tbody>
            {{#message_fields}}
            <row>
              <entry>{{field_name}}</entry>
              <entry><link linkend="{{field_full_type}}">{{field_long_type}}</link></entry>
              <entry>{{field_label}}</entry>
              <entry>{{#para}}{{field_description}}{{/para}}</entry>
            </row>
            {{/message_fields}}
          </tbody>
        </tgroup>
      </table>
      {{#message_has_extensions}}
      <table frame="all">
        <title><classname>{{message_long_name}}</classname> Nested Extensions</title>
        <tgroup cols="5">
          <colspec colwidth="*"/>
          <colspec colwidth="*"/>
          <colspec colwidth="*"/>
          <colspec colwidth="0.5*"/>
          <colspec colwidth="3*"/>
          <thead>
            <row>
              <entry>Extension</entry>
              <entry>Type</entry>
              <entry>Base</entry>
              <entry>Number</entry>
              <entry>Description</entry>
            </row>
          </thead>
          <tbody>
            {{#message_extensions}}
            <row>
              <entry>{{extension_name}}</entry>
              <entry><link linkend="{{extension_full_type}}">{{extension_long_type}}</link></entry>
              <entry><link linkend="{{extension_containing_full_type}}">{{extension_containing_long_type}}</link></entry>
              <entry>{{extension_number}}</entry>
              <entry>{{#para}}{{extension_description}}{{/para}}</entry>
            </row>
            {{/message_extensions}}
          </tbody>
        </tgroup>
      </table>
      {{/message_has_extensions}}
    </section>
    {{/file_messages}}
    {{#file_enums}}
    <section {{#enum_full_name}}id="{{enum_full_name}}"{{/enum_full_name}}>
      <title>{{enum_long_name}}</title>
      {{#para}}{{enum_description}}{{/para}}
      <table frame="all">
        <title><classname>{{enum_long_name}}</classname> Values</title>
        <tgroup cols="3">
          <colspec colwidth="*"/>
          <colspec colwidth="*"/>
          <colspec colwidth="3*"/>
          <thead>
            <row>
              <entry>Name</entry>
              <entry>Number</entry>
              <entry>Description</entry>
            </row>
          </thead>
          <tbody>
            {{#enum_values}}
            <row>
              <entry>{{value_name}}</entry>
              <entry>{{value_number}}</entry>
              <entry>{{#para}}{{value_description}}{{/para}}</entry>
            </row>
            {{/enum_values}}
          </tbody>
        </tgroup>
      </table>
    </section>
    {{/file_enums}}

    {{#file_has_extensions}}
    <section>
      <title>File-level Extensions</title>
      <informaltable frame="all">
        <tgroup cols="5">
          <colspec colwidth="*"/>
          <colspec colwidth="*"/>
          <colspec colwidth="*"/>
          <colspec colwidth="0.5*"/>
          <colspec colwidth="3*"/>
          <thead>
            <row>
              <entry>Extension</entry>
              <entry>Type</entry>
              <entry>Base</entry>
              <entry>Number</entry>
              <entry>Description</entry>
            </row>
          </thead>
          <tbody>
            {{#file_extensions}}
            <row>
              <entry>{{extension_name}}</entry>
              <entry><link linkend="{{extension_full_type}}">{{extension_long_type}}</link></entry>
              <entry><link linkend="{{extension_containing_full_type}}">{{extension_containing_long_type}}</link></entry>
              <entry>{{extension_number}}</entry>
              <entry>{{#para}}{{extension_description}}{{/para}}</entry>
            </row>
            {{/file_extensions}}
          </tbody>
        </tgroup>
      </informaltable>
    </section>
    {{/file_has_extensions}}
  </section>
  {{/files}}

  <section>
    <title>Scalar Value Types</title>
    <informaltable frame="all">
      <tgroup cols="5">
        <colspec colwidth="*"/>
        <colspec colwidth="5*"/>
        <colspec colwidth="*"/>
        <colspec colwidth="*"/>
        <colspec colwidth="*"/>
        <thead>
          <row>
            <entry>.proto Type</entry>
            <entry>Notes</entry>
            <entry>C++ Type</entry>
            <entry>Java Type</entry>
            <entry>Python Type</entry>
          </row>
        </thead>
        <tbody>
          {{#scalar_value_types}}
          <row>
            <entry id="{{scalar_value_proto_type}}">{{scalar_value_proto_type}}</entry>
            <entry>{{scalar_value_notes}}</entry>
            <entry>{{scalar_value_cpp_type}}</entry>
            <entry>{{scalar_value_java_type}}</entry>
            <entry>{{scalar_value_python_type}}</entry>
          </row>
          {{/scalar_value_types}}
        </tbody>
      </tgroup>
    </informaltable>
  </section>

</article>
