<!DOCTYPE html>

<html>
  <head>
    <title>Protocol Documentation</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic"/>
    <style>
      body {
        width: 60em;
        margin: 1em auto;
        color: #222;
        font-family: "Ubuntu", sans-serif;
        padding-bottom: 4em;
      }

      h1 {
        font-weight: normal;
        border-bottom: 1px solid #aaa;
        padding-bottom: 0.5ex;
      }

      h2 {
        border-bottom: 1px solid #aaa;
        padding-bottom: 0.5ex;
        margin: 1.5em 0;
      }

      h3 {
        font-weight: normal;
        border-bottom: 1px solid #aaa;
        padding-bottom: 0.5ex;
      }

      a {
        text-decoration: none;
        color: #567e25;
      }

      table {
        width: 100%;
        font-size: 80%;
        border-collapse: collapse;
      }

      thead {
        font-weight: 700;
        background-color: #dcdcdc;
      }

      tbody tr:nth-child(even) {
        background-color: #fbfbfb;
      }

      td {
        border: 1px solid #ccc;
        padding: 0.5ex 2ex;
      }

      td p {
        text-indent: 1em;
        margin: 0;
      }

      td p:nth-child(1) {
        text-indent: 0; /* No indent on first p in td */
      }

      /* Table of fields */
      .field-table td:nth-child(1) { /* Field */
        width: 10em;
      }
      .field-table td:nth-child(2) { /* Type */
        width: 10em;
      }
      .field-table td:nth-child(3) { /* Label */
        width: 6em;
      }
      .field-table td:nth-child(4) { /* Description */
        width: auto;
      }

      /* Table of extensions */
      .extension-table td:nth-child(1) { /* Extension */
        width: 10em;
      }
      .extension-table td:nth-child(2) { /* Type */
        width: 10em;
      }
      .extension-table td:nth-child(3) { /* Base */
        width: 10em;
      }
      .extension-table td:nth-child(4) { /* Number */
        width: 5em;
      }
      .extension-table td:nth-child(5) { /* Description */
        width: auto;
      }

      /* Table of enum values. */
      .enum-table td:nth-child(1) { /* Name */
        width: 10em;
      }
      .enum-table td:nth-child(2) { /* Number */
        width: 10em;
      }
      .enum-table td:nth-child(3) { /* Description */
        width: auto;
      }

      /* Table of scalar value types. */
      .scalar-value-types-table tr {
        height: 3em;
      }

      /* Table of contents. */
      #toc-container ul {
        list-style-type: none;
        padding-left: 1em;
        line-height: 180%;
        margin: 0;
      }
      #toc > li > a {
        font-weight: bold;
      }

      /* File heading div */
      .file-heading {
        width: 100%;
        display: table;
        border-bottom: 1px solid #aaa;
        margin: 4em 0 1.5em 0;
      }
      .file-heading h2 {
        border: none;
        display: table-cell;
      }
      .file-heading a {
        text-align: right;
        display: table-cell;
      }

      /* The 'M', 'E' and 'X' badges in the ToC */
      .badge {
        width: 1.6em;
        height: 1.6em;
        display: inline-block;

        line-height: 1.6em;
        text-align: center;
        font-weight: bold;
        font-size: 60%;

        color: #89ba48;
        background-color: #dff0c8;

        margin: 0.5ex 1em 0.5ex -1em;
        border: 1px solid #fbfbfb;
        border-radius: 1ex;
      }
    </style>

    <!-- User custom CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  </head>

  <body>

    <h1 id="title">Protocol Documentation</h1>

    <h2>Table of Contents</h2>

    <div id="toc-container">
      <ul id="toc">
        {{#files}}
        <li>
          <a href="#{{file_name}}">{{file_name}}</a>
          <ul>
            {{#file_messages}}
            <li>
              <a href="#{{message_full_name}}">
                <span class="badge">M</span>
                {{message_long_name}}
              </a>
            </li>
            {{/file_messages}}
            {{#file_enums}}
            <li>
              <a href="#{{enum_full_name}}">
                <span class="badge">E</span>
                {{enum_long_name}}
              </a>
            </li>
            {{/file_enums}}
            {{#file_has_extensions}}
            <li>
              <a href="#{{file_name}}-extensions">
                <span class="badge">X</span>
                File-level Extensions
              </a>
            </li>
            {{/file_has_extensions}}
            {{#file_services}}
            <li>
              <a href="#{{service_full_name}}">
                <span class="badge">S</span>
                {{service_name}}
              </a>
            </li>
            {{/file_services}}
          </ul>
        </li>
        {{/files}}
        <li><a href="#scalar-value-types">Scalar Value Types</a></li>
      </ul>
    </div>

    {{#files}}
    <div class="file-heading">
      <h2 id="{{file_name}}">{{file_name}}</h2><a href="#title">Top</a>
    </div>
    {{#file_description}}{{#p}}{{file_description}}{{/p}}{{/file_description}}
    {{#file_messages}}
    <h3 id="{{message_full_name}}">{{message_long_name}}</h3>
    {{#p}}{{message_description}}{{/p}}
    <table class="field-table">
      <thead>
        <tr><td>Field</td><td>Type</td><td>Label</td><td>Description</td></tr>
      </thead>
      <tbody>
        {{#message_fields}}
        <tr>
          <td>{{field_name}}</td>
          <td><a href="#{{field_full_type}}">{{field_long_type}}</a></td>
          <td>{{field_label}}</td>
          <td>{{#p}}{{field_description}}{{#field_default_value}} Default: {{field_default_value}}{{/field_default_value}}{{/p}}</td>
        </tr>
        {{/message_fields}}
      </tbody>
    </table>
    {{#message_has_extensions}}
    <br>
    <table class="extension-table">
      <thead>
        <tr><td>Extension</td><td>Type</td><td>Base</td><td>Number</td><td>Description</td></tr>
      </thead>
      <tbody>
        {{#message_extensions}}
        <tr>
          <td>{{extension_name}}</td>
          <td><a href="#{{extension_full_type}}">{{extension_long_type}}</a></td>
          <td><a href="#{{extension_containing_full_type}}">{{extension_containing_long_type}}</a></td>
          <td>{{extension_number}}</td>
          <td>{{#p}}{{extension_description}}{{#extension_default_value}} Default: {{extension_default_value}}{{/extension_default_value}}{{/p}}</td>
        </tr>
        {{/message_extensions}}
      </tbody>
    </table>
    {{/message_has_extensions}}
    {{/file_messages}}
    {{#file_enums}}
    <h3 id="{{enum_full_name}}">{{enum_long_name}}</h3>
    {{#p}}{{enum_description}}{{/p}}
    <table class="enum-table">
      <thead>
        <tr><td>Name</td><td>Number</td><td>Description</td></tr>
      </thead>
      <tbody>
        {{#enum_values}}
        <tr>
          <td>{{value_name}}</td>
          <td>{{value_number}}</td>
          <td>{{#p}}{{value_description}}{{/p}}</td>
        </tr>
        {{/enum_values}}
      </tbody>
    </table>
    {{/file_enums}}
    {{#file_has_extensions}}
    <h3 id="{{file_name}}-extensions">File-level Extensions</h3>
    <table class="extension-table">
      <thead>
        <tr><td>Extension</td><td>Type</td><td>Base</td><td>Number</td><td>Description</td></tr>
      </thead>
      <tbody>
        {{#file_extensions}}
        <tr>
          <td>{{extension_name}}</td>
          <td><a href="#{{extension_full_type}}">{{extension_long_type}}</a></td>
          <td><a href="#{{extension_containing_full_type}}">{{extension_containing_long_type}}</a></td>
          <td>{{extension_number}}</td>
          <td>{{#p}}{{extension_description}}{{#extension_default_value}} Default: {{extension_default_value}}{{/extension_default_value}}{{/p}}</td>
        </tr>
        {{/file_extensions}}
      </tbody>
    </table>
    {{/file_has_extensions}}
    {{#file_services}}
    <h3 id="{{service_full_name}}">{{service_name}}</h3>
    {{#p}}{{service_description}}{{/p}}
    <table class="enum-table">
      <thead>
        <tr><td>Method Name</td><td>Request Type</td><td>Response Type</td><td>Description</td></tr>
      </thead>
      <tbody>
        {{#service_methods}}
        <tr>
          <td>{{method_name}}</td>
          <td><a href="#{{method_request_full_type}}">{{method_request_long_type}}</a></td>
          <td><a href="#{{method_response_full_type}}">{{method_response_long_type}}</a></td>
          <td>{{#p}}{{method_description}}{{/p}}</td>
        </tr>
        {{/service_methods}}
      </tbody>
    </table>
    {{/file_services}}
    {{/files}}

    <h2 id="scalar-value-types">Scalar Value Types</h2>
    <table class="scalar-value-types-table">
      <thead>
        <tr><td>.proto Type</td><td>Notes</td><td>C++ Type</td><td>Java Type</td><td>Python Type</td></tr>
      </thead>
      <tbody>
      {{#scalar_value_types}}
        <tr id="{{scalar_value_proto_type}}">
          <td>{{scalar_value_proto_type}}</td>
          <td>{{scalar_value_notes}}</td>
          <td>{{scalar_value_cpp_type}}</td>
          <td>{{scalar_value_java_type}}</td>
          <td>{{scalar_value_python_type}}</td>
        </tr>
      {{/scalar_value_types}}
      </tbody>
    </table>

  </body>
</html>
