# Protocol Documentation
<a name="top"/>

## Table of Contents
{{#files}}
* [{{file_name}}](#{{file_name}})
 {{#file_messages}}
 * [{{message_long_name}}](#{{message_full_name}})
 {{/file_messages}}
 {{#file_enums}}
 * [{{enum_long_name}}](#{{enum_full_name}})
 {{/file_enums}}
 {{#file_has_extensions}}
 * [File-level Extensions](#{{file_name}}-extensions)
 {{/file_has_extensions}}
 {{#file_services}}
 * [{{service_name}}](#{{service_full_name}})
 {{/file_services}}
{{/files}}
* [Scalar Value Types](#scalar-value-types)

{{#files}}
<a name="{{file_name}}"/>
<p align="right"><a href="#top">Top</a></p>

## {{file_name}}

{{#file_description}}{{& file_description}}{{/file_description}}

{{#file_messages}}
<a name="{{message_full_name}}"/>
### {{message_long_name}}

{{& message_description}}

{{#message_has_fields}}
| Field | Type | Label | Description |
| ----- | ---- | ----- | ----------- |
{{#message_fields}}
| {{field_name}} | [{{field_long_type}}](#{{field_full_type}}) | {{field_label}} | {{#nobr}}{{& field_description}}{{#field_default_value}} Default: {{field_default_value}}{{/field_default_value}}{{/nobr}} |
{{/message_fields}}
{{/message_has_fields}}

{{#message_has_extensions}}
| Extension | Type | Base | Number | Description |
| --------- | ---- | ---- | ------ | ----------- |
{{#message_extensions}}
| {{extension_name}} | {{extension_long_type}} | {{extension_containing_long_type}} | {{extension_number}} | {{#nobr}}{{& extension_description}}{{#extension_default_value}} Default: {{extension_default_value}}{{/extension_default_value}}{{/nobr}} |
{{/message_extensions}}
{{/message_has_extensions}}

{{/file_messages}}

{{#file_enums}}
<a name="{{enum_full_name}}"/>
### {{enum_long_name}}

{{& enum_description}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{#enum_values}}
| {{value_name}} | {{value_number}} | {{#nobr}}{{& value_description}}{{/nobr}} |
{{/enum_values}}

{{/file_enums}}

{{#file_has_extensions}}
<a name="{{file_name}}-extensions"/>
### File-level Extensions

| Extension | Type | Base | Number | Description |
| --------- | ---- | ---- | ------ | ----------- |
{{#file_extensions}}
| {{extension_name}} | {{extension_long_type}} | {{extension_containing_long_type}} | {{extension_number}} | {{#nobr}}{{extension_description}}{{#extension_default_value}} Default: {{extension_default_value}}{{/extension_default_value}}{{/nobr}} |
{{/file_extensions}}
{{/file_has_extensions}}

{{#file_services}}
<a name="{{service_full_name}}"/>
### {{service_name}}

{{& service_description}}

| Method Name | Request Type | Response Type | Description |
| ----------- | ------------ | ------------- | ------------|
{{#service_methods}}
| {{method_name}} | [{{method_request_long_type}}](#{{method_request_full_type}}) | [{{method_response_long_type}}](#{{method_response_full_type}}) | {{#nobr}}{{& method_description}}{{/nobr}} |
{{/service_methods}}

{{/file_services}}

{{/files}}

<a name="scalar-value-types"/>
## Scalar Value Types

| .proto Type | Notes | C++ Type | Java Type | Python Type |
| ----------- | ----- | -------- | --------- | ----------- |
{{#scalar_value_types}}
| <a name="{{scalar_value_proto_type}}"/> {{scalar_value_proto_type}} | {{scalar_value_notes}} | {{scalar_value_cpp_type}} | {{scalar_value_java_type}} | {{scalar_value_python_type}} |
{{/scalar_value_types}}
